.alerts{
	position: fixed;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 30px);
	max-width: 480px;
	z-index: 1000;
}

.alert{
	border-left: 4px solid map-get($primary-colors , '500');
	background-color: white;
	color: #1c1d22;
	padding: .75rem 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 4px 14px rgba(0,0,0, 0.07);
	border-radius: 2px;
	display: flex;
	align-items: center;
}

.alert-icon{
	font-size: 24px;
	margin-right: 1rem;
}

.alert-heading{
	margin-bottom: .25rem;
	margin-top: 0;
}

.alert-content{
	flex-grow: 1;
}

.alert.is-danger{
	border-color: map-get($red-colors , '500');

	.alert-heading,
	.alert-icon{
		color: map-get($red-colors , '500');
	}
}
.alert.is-success{
	border-color: map-get($green-colors , '500');

	.alert-heading,
	.alert-icon{
		color: map-get($green-colors , '700');
	}
}
.alert.is-warning{
	border-color: map-get($yellow-colors , '500');

	.alert-heading,
	.alert-icon{
		color: map-get($yellow-colors , '700');
	}
}
