.button{
	background-color: $secondary-color;
	border: 0;
	border-radius: $control-border-radius;
	color: map-get($primary-colors, '900');
	padding: $control-padding-y $control-padding-x;
	transition: background .15s;
	height: 3rem;
	display: inline-block;
	line-height: 1.5;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
	text-decoration: none;

	&:hover{
		color: map-get($primary-colors, '900');
		background-color: $secondary-color-dark;
	}
	&:active{
		background-color: $secondary-color-dark;
	}
	&:focus{
		box-shadow: 0 0 0 3px $control-focus-color;
	}
}

.button.is-icon{
	width: 3rem;
	padding: .75rem;
	font-size: 1.25rem;
	color: #999FB3;
	background-color: white;

	&:hover{
		background-color: white;
		color: rgb(115, 119, 134);
	}
}

.button.is-small{
	padding: $control-padding-y/2 $control-padding-x/1.5;
	height: 2rem;
	font-size: .875rem;
}

.button.is-large{
	height: 3.5rem;
	font-size: 1.25rem;
}

.buttons .button{
	margin-bottom: 10px;

	&:not(:nth-last-child(1)){
		margin-right: 10px;
	}
}

.button.is-primary{
	background-color: $primary-color;
	color: white;

	&:hover{
		color: white;
		background-color: $primary-color-dark;
	}
	&:active{
		background-color: $primary-color-dark;
	}
}

.button.is-danger{
	background-color: map-get($red-colors , '500');
	color: #FFF;

	&:hover{
		background-color: darken(map-get($red-colors , '500'), 3%);
		color: #FFF;
	}
	&:active{
		background-color: darken(map-get($red-colors , '500'), 3%);
	}
}

.button-add{
	width: 38px;
	height: 38px;
	padding: 0;
	line-height: 41px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 20px rgba($color: $primary-color, $alpha: 0.4);
	font-size: 20px;
}

.button.d-block{
	width: 100%;
}

.button.is-loading{
	color: transparent !important;
	position: relative;
	transition: 0;
	pointer-events: none;

	&::before{
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -18px;
		margin-left: -18px;
		border: 6px solid rgba(255,255,255,.4);
		border-top: 6px solid #FFF;
		border-radius: 50%;
		width: 24px;
		height: 24px;
		animation: spin 1s linear infinite;
	}
}

.button.is-close{
	padding: .5rem;
	color: #999FB3;
	background-color: transparent;

	&:hover{
		background-color: transparent;
		color: rgb(115, 119, 134);
	}

	&:focus{
		box-shadow: none;
	}
}
