.field{
	margin-bottom: .8em;
}

.label{
	display: block;
	margin-bottom: .2em;
	font-weight: 500;
}

.input,
.textarea,
.select{
	border-radius: $control-border-radius;
	border: $control-border-width solid $control-border-color;
	color: $base-font-color;
	padding: $input-padding-y $input-padding-x;
	height: 2.5rem;
	line-height: 1.5;
	background: $control-background-color;
	width: 100%;
	display: block;

	&:focus{
		box-shadow: 0 0 0 3px $control-focus-color;
	}

	&:disabled{
		background: $control-border-color;
		opacity: .4;
	}
}

.select option{
	background-color: inherit;
	color: inherit;
}

.textarea{
	height: auto;
	resize: vertical;
}
