*{
	box-sizing: border-box;
}

input:focus,
select:focus,
select:hover,
textarea:focus,
button:focus,
*:focus {
	outline: none;
}

[type="submit"],
[type="reset"],
[type="button"],
select,
option,
button,
a{
	cursor: pointer;
}

html{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $base-font;
	line-height: $base-line-height;
	color: $base-font-color;
	background: $background-color;
	height: 100%;
}

body{
	height: 100%;
}

a{
	color: $primary-link-color;
	text-decoration: none;

	&:hover{
		color: $primary-link-color-dark;
	}
}

input,
select,
button{
	font-family: $base-font;
}

h1,
h2,
h3,
h4,
h5,
h6{
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: .5em;
}

h1{
	font-size: 2.5rem;
}
h2{
	font-size: 2rem;
}
h3{
	font-size: 1.75rem;
}
h4{
	font-size: 1.5rem;
}
h5{
	font-size: 1.25rem;
}
h6{
	font-size: 1rem;
}

p {
	margin-top: 0;
	margin-bottom: .5rem;
}

#app{
	height: 100%;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
